<!-- <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html> -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>컴퓨터공학전공 코딩 대회</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/homeMain.css">
</head>
<body>
    <div class="header">
        <p class="logo"><로고></p>
        <!-- <h1 class="title">제주대학교 코드 페스티벌</h1> -->
        <div class="user">
            <p class="username">[[${#httpServletRequest.remoteUser}]]</p>
            <form th:action="@{/logout}" method="post">
                <input class="logout" type="submit" value="로그아웃"/>
            </form>
        </div>
    </div>
    <div class="container">
        <ul class="tab_nav">
            <li id="problem" class="active"><a href="#">문제</a></li>
            <li id="score"><a href="#">점수</a></li> 
        </ul>
        <div th:each="item : ${problemList}" class="wrap">
            <a th:href='|/code?number=${item.get("Id")}|' class="item" >
                <div th:text='${item.get("problemNum")}' class="item_number"></div>
                <div th:text='${item.get("problemTitle")}' class="item_subject"></div>
            </a>
        </div>
    </div>

    <script src="/javascripts/problem.js"></script>
</body>
</html>