<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/Main.js"></script>
    <link href="/css/question.css" rel="stylesheet">
    <script src="/javascripts/question.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/css/animations.css" rel="stylesheet">
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

    <script src='https://production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">

    <link href="/css/result.css" rel="stylesheet">
    <link href="/css/editor.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <script src='https://production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script>
    <script src='https://production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script>
    <script src='https://production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script>
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <link rel="shortcut icon" type="image/x-icon" href="https://production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
    <link rel="mask-icon" type="" href="https://production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg"
        color="#111" />
    <link rel="canonical" href="https://codepen.io/rrenula/pen/qmaFb?q=code%20editor&limit=all&order=popularity&depth=everything&show_forks=false" />

    <link rel="stylesheet" href="/css/Main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/javascripts/templateCode.js"></script>
    <!-- <script src="https://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>
    <link href="https://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="/javascripts/codeinitialize.js"></script> -->
    
    <title>제주대학교 컴퓨터공학전공 코드페스티벌</title>
</head>

<body>
    <div class="contain">

        <!----타이틀바입니다.-->
        <div class="Title">
            <div class="has-animation animation-ltr" data-delay="10">
                <p class="bigger"></p>
            </div>
        </div>

        <!---여기는 로고바입니다.-->
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/"> <img class="logo" src="/img/simbol.jpg" height="40"> 제주대학교 컴퓨터공학
                    전공 코드페스티벌</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar1">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item"><a class="nav-link" th:inline="text"> 반갑습니다.
                                [[${#httpServletRequest.remoteUser}]] 님 </a></li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" class="btn ml-2 btn-warning" value="Sign Out" />
                            </form>
                        </li>
                        <!-- <a class="btn ml-2 btn-warning" href="http://bootstrap-ecommerce.com">로그아웃</a></li> -->
                    </ul>
                </div>
            </nav>
        </div>
        <!--본문 내용입니다.-->
        <div class="page">

            <!---여기는 왼쪽 슬라이드입니다.-->
            <div class="left">
                <div class="item">
                    <i class="fas fa-fw fa-bars"></i> 문제
                </div>
                <!-- <div class="item active">
                    <i class="fas fa-fw fa-map-marked-alt"></i> 정렬알고리즘
                </div>
                <div class="item">
                    <i class="fas fa-fw fa-columns"></i> 순환 알고리즘
                </div>
                <div class="item">
                    <i class="fas fa-fw fa-th"></i> 스택
                </div>
                <div class="item">
                    <i class="fas fa-fw fa-user-circle"></i> 큐
                </div> -->
            </div>
            <!--문제가 출제될 공간입니다.-->
            <div class="content slideRight">
                <div class='question'>

                    <div class="Qname">
                        <h1> 문제1</h1>
                    </div>

                    <div class="main">
                        <p> ;</p>
                        <p>6 ;</p>
                        <p>5 );</p>
                        <p>4 );</p>
                        <p>3 2);</p>
                        <p>2 w);</p>
                        <p>2 );</p>
                        <p>1</p>

                    </div>
                </div>
            </div>
            <!--이곳은 에디터와 결과창입니다.-->
            <div class="right">
               
                <div class="EditAndResult">
                        <!-- <div class="selectLanguage">
                                <span><button>Python3</button></span>
                                <span><button>Java</button></span>
                                <span><button>C/C++</button></span>
                                <span><button>javascript</button></span>
                            </div> -->
                    <div class="selectLanguage">
                        <select onchange="onLangChange()" name="language" class="lang">
                            <option class="lang-val" value="c">C</option>
                            <option class="lang-val" value="cpp">C++</option>
                            <option class="lang-val" value="java">JAVA</option>
                            <option class="lang-val" value="js">JavaScript</option>
                            <option class="lang-val" value="py">Python3</option>
                        </select>
                    </div>
                    <textarea id="textbox" class="editor slideDown"></textarea>
                    
                    <div class="result slideUp">
                        <div class="VBhead">
                            <div class="bitem">
                                <ul class="bitem-ul">
                                    <li class="bitem-u-li">
                                        <p class="itemred"></p>
                                    </li>
                                    <li class="bitem-u-li">
                                        <p class="itemyl"></p>
                                    </li>
                                    <li class="bitem-u-li">
                                        <p class="itemgr"></p>
                                    </li>
                                    <li class="bitem-u-li">
                                        <p class="itemtext"></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="VBbody">
                            <div class="textarea" name="code_input" id="code_input">이곳은 결과창입니다.</div>
                          <div class="buttonBar">
                            <Button id="submitCode">코드 테스트!</Button>
                          </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>





    <!--하단입니다.-->
    <footer class="footer">
        <div class="container">
            
            <!--foote_bottom_ul_amrc ends here-->
            <ul style="text-align:center; color: white;">Copyright @2018 <br>Designed With by <a href="http://ce.jejunu.ac.kr/">제주대학교 공과대학
                    컴퓨터공학전공</a></ul>
        </div>
    </footer>

    <script src="/javascripts/textarea.js"></script>
    <script src="/javascripts/test.js"></script>
</body>

</html>